
@font-face {
    font-family: 'segoe';
    src: url('../../assets/fonts/Segoe\ UI.ttf');
    transition: 0.2s ease-in-out;
}

*{
  font-family: 'segoe';  
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-size: cover;
   background: #ffffff;
    /* background: linear-gradient(273deg,rgb(92, 137, 192) 7%, rgb(78, 109, 130,0.2) 35%, rgb(71, 95, 116,0.2) 80%, rgba(92, 137, 192, 1) 97%); */
}

.default_button{
    /* background: #3e7afa; */
    /* background: linear-gradient(0deg,rgba(86, 125, 191, 0.1) 30%, rgba(33, 129, 194,0.1) 28%, rgba(87, 192, 199,0.1) 69%, rgba(255, 255, 255, 1) 97%); */
      border: 0.1rem solid rgb(1, 107, 169);

    background-color: white;
    border-bottom: none;
    /* box-shadow: 0rem 0rem 0.2rem rgb(0, 0, 0,0.2); */
    border-radius: 0.2rem;
    padding: 0.5rem;
    color: rgb(68, 68, 68);
    cursor: pointer;
    position: absolute;
}

/* .default_button:hover{
    background: #3e7afa;
    background: linear-gradient(0deg,rgb(130, 169, 255,0.3) 5%, rgba(33, 129, 194,0.3) 28%, rgba(87, 192, 199,0.3) 69%, rgba(255, 255, 255, 1) 97%);
} */

.icon_button{
    background: none;
     /* background:black; */
    /* background: linear-gradient(0deg,rgba(255, 255, 255, 0.1) 15%, rgba(33, 129, 194,0.1) 28%, rgba(87, 192, 199,0.1) 69%, rgba(255, 255, 255, 0.1) 97%);  */
    /* border-radius: 0.1rem solid rgba(255, 255, 255, 0.5); */
    border-radius: 0.2rem;
    border: 0.1rem solid rgb(255, 255, 255,0.0);
     padding: 1rem;
    /* color: rgb(68, 68, 68); */
    cursor: pointer;
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
}

.icon_button>img{
    width: 5rem;
    /* background: linear-gradient(0deg,rgb(130, 169, 255,0.1) 15%, rgba(33, 129, 194,0.1) 28%, rgba(87, 192, 199,0.1) 69%, rgba(255, 255, 255, 0.1) 97%);  */
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.icon_button span{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0);
}

.icon_button:hover{
    span{
        text-decoration: underline;
        text-shadow: 0rem 0rem 1rem rgb(0, 0, 0);
        color: rgb(190, 222, 233);
    }
 }