
.field-list-item-container{
    display: flex;
    gap: 1rem;
    margin: 1rem 0rem 1rem 0rem;
}
#sale_register_button{
  display: none;
}

.table-actions-container{
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: 0.1rem solid rgb(1, 107, 169);
    position: relative;
    height: 40px;
  background: linear-gradient(0deg,rgba(84, 133, 213, 0.3) 15%, rgba(120, 187, 231, 0.3) 28%, rgba(116, 176, 245, 0.3) 69%, rgba(97, 160, 227, 0.3) 97%);
}

#sale_register_button{
  left: 145px;
}

input[type="date"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  font-family: inherit;
}

.table-type-change-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background: #a9acc2;
background: linear-gradient(0deg,rgb(0, 76, 191,0.5) 0%, rgb(0, 76, 189,0.5) 9%, rgb(0, 67, 222,0.5) 82%, rgb(57, 114, 236,0.5) 96%, rgb(57, 114, 236,0.5) 100%);
  backdrop-filter: blur(10px);
  /* border: 0.5rem solid rgba(73, 73, 73, 0.2); */
  border-radius: 0.2rem;
  padding: 0.5rem;

}

.table-title-container{
    background:rgba(51, 116, 255, 0.5);
  backdrop-filter: blur(10px);
  /* border: 0.1rem solid rgba(73, 73, 73, 0.2); */
  border-radius: 0.2rem;
  padding: 1.5rem;
}

.table-title-container h1{
  font-size: 1.1rem;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  text-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0);
}

.data-container{
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.data-container table{
  background-color: white;
  width: 100%;
   border-collapse: collapse;
}


.data-container table th{
    text-align: start;
    padding: 0.2rem;
    font-weight: lighter;
    border: 0.1rem solid rgb(18, 94, 169);
    background: linear-gradient(0deg,rgba(45, 108, 210, 0.3) 15%, rgba(33, 129, 194,0.3) 28%, rgba(87, 139, 199, 0.3) 69%, rgb(210, 232, 255,0.3) 97%);
}

.data-container table td{
    border: 0.1rem solid rgb(18, 94, 169);
    border-top: none;
    text-align: start;
    padding: 0.2rem;

}
